* {
    box-sizing: border-box;
}

.Dimon__pidor {

}

.pidor__title {
	margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
         font-size: 22px;
    margin-bottom: 15px;
    
}

body {
    margin: 0;
}

.Dimon__img {
    text-align: center;
}